@import 'variables';

/* padding to body element */
#body{
    padding: 30px;
}
/* image padding */
#img{
    padding: 25px;
}
span{
    padding:25px;
}
/* head section */
.breadcrumbs{
    text-align: left;
    color: blue;
    font-size:20px;
    padding: 10px;
    margin: 1px;
    position: -webkit-sticky;
    position: sticky;

}
@mixin mix {
    display:inline-block;
    padding:10px 20px;
    margin:0 0.3em 0.3em 0;
    border-radius:10px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:800;
    color: #0d133b;
    background-color: #456586;
    text-align:center;
  }

  $font-size: (40px, 20px);
@for $i from 1 to 3 {
  h#{$i} {
    font-size: nth($font-size, $i);
  }
}
.new{
    margin-left: 150px;
    display: inline;
}
/* isearch box adding special effects */
.searchbox{
    width: 150px; 
    border-radius: 15px;     
    height: 30px;     
    border: 1px dotted #000;
}

/* search button */
.searchbtn{
    @include mix;
}
/* heading */
.Heading{
    font-size: 30px;
    color: #103875;
    font-family: 'Roboto', sans-serif;
}

.textbox{
    border-radius: 25px;
    border: 1px solid #ced0e1;
    padding: 20px;
    width: 500px;
    height: 250px;
    position: relative;
}
#label{
    display: block;
}
/* child attribute */
.textbox > p {
    font-size: 20px;
    color: #103875;
    position: relative;
}
.textbox >h1{
    font-family: "Devanagari Sangam MN";
    font-size: xx-large;
    font-style: italic;
    position: relative;
    font-size: 35px;
    left:150px;
}
.textbox >h2{
    font-size: larger;
    font-style: italic;
    position: relative;
    color: #324a73;
    font-size: px;
    left:150px;
}
/* modern home image */
.modernhome{
    height: 600px;
    width: 900px;
    position: relative;
    left: 400px;
    bottom: 250px;
    padding: 10px;
    z-index: -1;

}

.box{
    box-sizing: content-box;
    width: 1250px;
    height: 120px;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 30px;
    background: #eef5f5;
    position: relative;
    opacity: 0.9;
    bottom: 50px;
}
.box >section+fieldset{
    border-radius: 20px;
    border: 1px solid rgb(62, 62, 168);
}
.flex{
    display:flexbox;
    flex-direction:  column-reverse ;
}
.secondhead{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.secondhead >h1{
    font-size: 30px;
    color: #152065;
}
.secondhead >h2{
    font-size: 40px;
    color: #0f0f13;
    font-style: italic;
}
/* continue button padding */
.continuebtn{
    display:inline-block;
    padding:30px 40px;
    margin:0 0.3em 0.3em 0;
    border-radius:20px;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:3000;
    color: #d2d2dc;
    background-color: #324a73;
    position: relative;
    left: 550px;
    width: 250px;
}


.secondhead >h3{
    font-size: 25px;
    color: #152065;
    text-align: center;
}
.secondhead >h4{
    font-size: 25px;
    color: #152065;
    text-align: center;
}

.secondhead >p{
    font-style: oblique;
    font-weight: 10px;
    color: rgba($color: #706d6d, $alpha: 1.0)
}
/* button hover */
button:hover {
    background-color: #191991;
    color:$background-color;
}
/* anchor tag hover */
a:hover{
    color: $background-color;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-radius: 30px;
  }
  
  .grid-item {
  
    border: 1px solid none;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    display: inline;
  }

  .grid-item > img{
    border-radius: 30px;
  }

  .grid-item > h4{
      font-style: initial;
      
  }


  


